/WebApplication_08/nbproject/private/
/WebApplication_08/build/
/WebApplication_09/nbproject/private/
/WebApplication_09/build/
/WebApplication_10/nbproject/private/
/WebApplication_10/build/
/WebApplication_11/nbproject/private/
/WebApplication_11/build/
/WebApplication_12/nbproject/private/
/WebApplication_12/build/
/WorkShop1/nbproject/private/
/WebApplication_13/nbproject/private/
/WebApplication_13_b/nbproject/private/
/WebApplication_13_b/build/
/WebApplication_14/nbproject/private/
/WebApplication_14/build/
/WebApplication_15/nbproject/private/
/WebApplication_15/build/
/WebApplication_15/dist/
/WebApplication_16/nbproject/private/
/WebApplication_16/build/
/WebApplication_16_b/nbproject/private/
/WebApplication_16_b/build/
/WebApplication_16_b/dist/